@viewport {
	width: device-width;
	zoom: 1;
}

@-ms-viewport {
	width: device-width;
}

@media only screen and (max-width: 600px) {
	/*Mobile*/
	body {
		margin: 0;
		header {
			margin: 0;
			padding: 0;
			.navigationDesktop {
				display: none;
			}
			.navigationMobile {
				margin: 0;
				padding: 0;
				background-color: goldenrod;
				ul {
					list-style-type: none;
					&.hide {
						display: none;
					}
				}
				a {
					display: block;
					color: cornsilk;
					text-align: center;
					padding: 14px 16px;
					text-decoration: none;
					&:hover {
						background-color: darkgoldenrod;
					}
				}
				align-content: center;
				.sameLine {
					a {
						display: inline-block;
						margin-left: 45%;
					}
					img {
						float: right;
						margin-right: 2%;
						margin-top: 1%;
					}
				}
			}
		}
		.mainBody {
			margin: 5px;
			text-align: center;
			h1 {
				font-weight: 500;
			}
			p {
				font-size: 20px;
			}
		}
	}
}

@media only screen and (min-width: 600px) {
	/*Desktop*/
	body {
		margin: 0;
		header {
			margin: 0;
			padding: 0;
			.navigationMobile {
				display: none;
			}
			.navigationDesktop {
				margin: 0;
				padding: 0;
				ul {
					list-style-type: none;
					margin: 0;
					padding: 0;
					overflow: hidden;
					background-color: goldenrod;
					li {
						float: left;
						a {
							display: block;
							color: cornsilk;
							text-align: center;
							padding: 14px 16px;
							text-decoration: none;
							&:hover {
								background-color: darkgoldenrod;
							}
						}
						.active {
							background-color: darkolivegreen;
						}
					}
				}
			}
		}
		.mainBody {
			margin: 5px;
			text-align: center;
			h1 {
				font-weight: 500;
			}
		}
	}
}
