<!DOCTYPE html>
<html>

<head>
    <title>Sanjit's Scioly Page</title>
    <link rel="stylesheet" href="./index.css">
    </link>
</head>

<body>
    <header>
        <div class="navigation">
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a class="active" href="/divB/index.html">Division B</a></li>
                <li><a href="/divC/index.html">Division C</a></li>
            </ul>
        </div>
    </header>
    <div class="mainBody">
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="index.js"></script>
</body>

</html>