@-o-viewport {
  width: device-width;
  zoom: 1;
}

@viewport {
  width: device-width;
  zoom: 1;
}

@-ms-viewport {
  width: device-width;
}

@media only screen and (max-width: 600px) {
  /*Mobile*/
  body {
    margin: 0;
  }
  body header {
    margin: 0;
    padding: 0;
  }
  body header .navigationDesktop {
    display: none;
  }
  body header .navigationMobile {
    margin: 0;
    padding: 0;
    background-color: goldenrod;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  body header .navigationMobile ul {
    list-style-type: none;
  }
  body header .navigationMobile ul.hide {
    display: none;
  }
  body header .navigationMobile #ulNav {
    margin: 0;
    -webkit-padding-start: 0 !important;
            padding-inline-start: 0 !important;
  }
  body header .navigationMobile a {
    display: block;
    color: cornsilk;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  body header .navigationMobile a:hover {
    background-color: darkgoldenrod;
  }
  body header .navigationMobile .sameLine a {
    display: inline-block;
    margin-left: 38%;
  }
  body header .navigationMobile .sameLine img {
    float: right;
    margin-right: 2%;
    margin-top: 1.75%;
  }
  body .mainBody {
    margin: 5px;
  }
  body .mainBody h1 {
    font-weight: 500;
  }
  body .mainBody p {
    font-size: 20px;
  }
}

@media only screen and (min-width: 600px) {
  /*Desktop*/
  body {
    margin: 0;
  }
  body header {
    margin: 0;
    padding: 0;
  }
  body header .navigationMobile {
    display: none;
  }
  body header .navigationDesktop {
    margin: 0;
    padding: 0;
  }
  body header .navigationDesktop ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: goldenrod;
  }
  body header .navigationDesktop ul li {
    float: left;
  }
  body header .navigationDesktop ul li a {
    display: block;
    color: cornsilk;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  body header .navigationDesktop ul li a:hover {
    background-color: darkgoldenrod;
  }
  body header .navigationDesktop ul li .active {
    background-color: darkolivegreen;
  }
  body .mainBody {
    margin: 5px;
  }
  body .mainBody h1 {
    font-weight: 500;
  }
}

body .mainBody button {
  background-color: goldenrod;
  border: 2px solid coral;
  padding: 5px 10px;
  margin-top: 10px;
  font-size: 17px;
}

body .mainBody button a {
  text-decoration: none;
  color: maroon;
}

body .mainBody button a:hover {
  color: blueviolet;
}

body .mainBody button .active {
  color: maroon;
}

body .mainBody #quizPopup {
  overflow-y: auto;
  border: 5px brown;
  border-style: solid;
  width: 80%;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 10%;
  background-color: white;
}

body .mainBody #quizPopup.hide {
  display: none;
}

body .mainBody #quizPopup .header img {
  width: 2%;
  margin: 7px 0 0 5px;
}

body .mainBody #quizPopup .header h2 {
  margin-left: 8%;
  display: inline-block;
  width: 75%;
  text-align: center;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 5px;
          margin-block-end: 5px;
  font-weight: 500;
}

body .mainBody #quizPopup .header h3 {
  width: 10%;
  display: inline-block;
  font-weight: 500;
}

body .mainBody #quizPopup .header hr {
  margin: 0;
  border: 1px solid red;
}

body .mainBody #quizPopup input[type="radio" i]:hover {
  background-color: blue;
}

body .mainBody #quizPopup input[type="radio" i]:checked {
  background-color: #80e091;
}

body .mainBody #quizPopup .submit {
  position: relative;
  left: 92%;
  position: absolute;
  bottom: 2%;
  padding: 7px 14px;
}
/*# sourceMappingURL=quizes.css.map */